.vscode/**
client/*
server/*
**/*.ts
**/*.map
.gitignore
.gitattributes
tsconfig.json
vsc-extension-quickstart.md
webpack.config.js
pnpm-lock.json
pnpm-lock.yaml
.npm-version
.node-version
.pnpm-debug.log
.eslint*